{:paths ["src" "test" "resources"]
 :deps  {org.clojure/clojure     {:mvn/version "1.10.1"}
         reifyhealth/specmonstah {:git/url "https://github.com/plexus/specmonstah"
                                  :sha     "382c8c9ced99f206065bff1523b2bf6242e1b187"}
         metosin/malli           {:git/url "https://github.com/metosin/malli.git"
                                  :sha     "f8e3890e2d487bcc9ee8732567fa6dfa4b9504c0"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-601"}}}}}
